<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
      integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
      crossorigin=""
    />
    <script
      src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
      integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
      crossorigin=""
    ></script>
    <style>
      #mapid {
        height: 100vh;
        width: 100%;
      }
    </style>
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Aku Peta</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#"
                >Jakarta</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#">Belitung</a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link active"
                href="#"
                onclick="changeLocation(-8.42305555556, 115.248611111)"
                >Bali</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- End Navbar -->
    <div id="mapid"></div>
    <!-- JavaScript Bundle with Popper -->
    <script>
      var lat = null;
var lang = null;
var langitude = [-6.21462, 106.84513];
var mymap = L.map('mapid').setView(langitude, 13);

L.tileLayer(
    'https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoieXVzdGFuemFoIiwiYSI6ImNrcm92ZWdmdDhpN3Qydm10OWhrcDZiNTQifQ.5xLDcJ-neG1QU3xl5fy93A',
    {
        attribution:
            'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 18,
        id: 'mapbox/streets-v11',
        tileSize: 512,
        zoomOffset: -1,
    },
).addTo(mymap);

function onMapClick(e) {
    lat = e.latlng.lat;
    lang = e.latlng.lng;
    alert('You clicked the map at ' + e.latlng);
}
// change location
function changeLocation(lat, lang) {
    // e.preventDefault();
    // alert(lang);
    langitude = [lat, lang];
}

mymap.on('click', onMapClick);
-6.221758, 106.867069;
var marker = L.marker([-6.21462, 106.84513]).addTo(mymap);
marker.bindPopup('<b>Menteng Atas</b><br>DKI Jakarta').openPopup();

var marker = L.marker([-6.197027, 106.883716]).addTo(mymap);
marker.bindPopup('<b>Rawamangun</b><br>DKI Jakarta').openPopup();

var marker = L.marker([-6.221758, 106.867069]).addTo(mymap);
marker.bindPopup('<b>Bali mester</b><br>DKI Jakarta').openPopup();
    </script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
